body {
  text-align: center;
  background-color: burlywood;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  padding-left: 100px;
  padding-right: 100px;
}

/*h2 {
  font-family: 
  font-size: 36px;
}*/

div {
  display: inline-block;
  padding: 10px;
}

button {
  display: block;
  padding: 10px 20px;

  margin: 0 auto;
}

.buttoncenter {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  align-self: center;
}

figure {
  margin: 0;
  position: relative;
  padding-top: 100%;
}
img {
  width: 100%;
  display: block;
}
.frame {
  position: absolute;
  top: 0;
  background: white;
}
.monster {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
